
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: rgba(250, 220, 50,);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    text-align: center;
    padding: 60px 20px 30px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}


.menu {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}


.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.card p {
    font-size: 14px;
    opacity: 0.9;
}

.card:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.25);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    opacity: 0.8;
}
